.nav-links {
    width: 100%;
    max-width: 100vw;
    height: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 ;
}

.content .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
    margin-left: auto;
    flex: 1 1;
    max-width: 650px;
    grid-gap: 50px;
    gap: 50px;


}

.links li{
    font-size: 16px;
}

.content .links a{
    border: 8px solid transparent;
    border-radius: 10px;
    background: #4846BD;
    font-weight: 700;
    padding: 2px 10px;
    color:white;
    text-decoration: none;
}

.logout-button{
    border: 0px solid transparent;
    border-radius: 10px;
    background: #4846BD;
    font-weight: 700;
    padding: 2px 8px;
    color:white;
    text-decoration: none;
}