
.nav-links {
    width: 100%;
    max-width: 100vw;
    height: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 ;
}

.content .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
    margin-left: auto;
    flex: 1 1;
    max-width: 100vw;
    grid-gap: 20vw;
    gap: 7vw;


}

.links li{
    font-size: 1.8vh;
}

.content .links a{
    border: 1vh solid transparent;
    border-radius: 10px;
    background: #4846BD;
    font-weight: 700;
    padding: 0.3vh 1.5vw;
    color:white;
    text-decoration: none;
}


.logout-button{
    border: 1px solid transparent;
    border-radius: 10px;
    background: none;
    font-weight: 700;
    padding: 0.3vh 1.5vw;
    color:white;
    text-decoration: none;
}