.hero {
    width: 100%;
    max-width: 100vw;
    height: 600px;
    background: rgb(255, 255, 255);
    display:flex;
    align-items:center;
    border: 1px;
    border-radius: 15px;
}
.hero .content {
    width: 100%;
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    border: 1px;
    border-radius: 15px;
    height: 600px;
}

.hero .content .hero-img {
    border: 1px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 600px;
    width: 50vw;
}

.hero .content .hero-img img {
    height: 600px;
    width: 100%;
    border: 1px;
    border-radius: 20px;
}

.hero .content .intro {
    flex: 1;
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 100%;
}

.hero .content .intro h1 {
    font-size: 40px;
    font-weight:400;
    width: 100%;
}

.hero .content .intro p {
    font-size: 25px;
    font-weight:300;
}