
.registration-page, .registration-page .card {
    display: flex;
}

.registration-page {
    height: 100vh;
    width: 100vw;
    padding-top: 3vh;
    background: #F7F6E9;
    justify-content: center;
    align-items: center;
}

.registration-page .card {
    width: 28%;
    height: 90%;
    padding: 1vh 1.3vw 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px #86999E;
}

.registration-page .card h2 {
    font-size: 5vh;
    font-weight: 600;
    color: black;
}

.registration-page .card .registration-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 2vh;
    color: black;
}

.registration-page .card .registration-form .input-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 0.9vh 0;
    flex: 1 1;
}

.registration-page .card .registration-form .input-field label {
    margin-bottom: 1vh;
    color: black;
    font-size: 1.9vh;
}

.registration-page .card .registration-form .input-field input {
    height: 6vh;
    padding: 0 .5vw;
    font-size: 1.8vh;
    border: 1px solid black;
    width: 100%;
    background: transparent;
    color: black;
}

.registration-page .card .split-input-field {
    display: flex;
    flex-direction: row;
    width: 100%;
    grid-gap: 2vw;
    gap: 2vw;
}

.registration-page .card .footer, .registration-page .card .registration-form .btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registration-page .card .registration-form .btn {
    height: 7.5vh;
    color: white;
    background: #4846BD;
    font-size: 1.8vh;
    border: none;
    cursor: pointer;
    margin-top: 3vh;
    border-radius: 25px;
}

.registration-page .card .registration-form .btn:hover {
    height: 7.5vh;
    color: white;
    background: #3c3aa7;
    font-size: 1.8vh;
    border: none;
    cursor: pointer;
    margin-top: 3vh;
    border-radius: 25px;
}

.registration-page .card .footer {
    border-top: 1px solid black;
    margin: 1vh;
    height: 14%;
    font-size: 3vh;
    color: black;
}

.registration-page .card .footer p {
    color: black;
}

.registration-page .card .footer a {
    text-decoration: none;
    color: #4846BD;
    font-weight: 500;
}

.registration-page .card .error {
    color: #fe3210;
}

@media only screen and (max-width: 800px){
    .registration-page .card {
        width: 55%;
        padding: 1vh 1.3vw 0;
        flex-direction: column;
        background: white;
        border-radius: 10px;
        box-shadow: 10px 10px #86999E;
    }
}