.Navbar {
    width: 100%;
    max-width: 100vw;
    background: #D9F7FF;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10vw;
}


.Navbar .content .logo {
    width: 20%;
    height: 10%;
}


.Navbar .content {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}