.contact-form .content {
    padding-right: 40px;
}

.contact-form .content .form-wrapper {
    display: flex;
    flex-direction: column;
    background: #F7F6E9;
    height: 375px;
    color: black;
    border: solid 1px black;
    border-radius: 15px;
    overflow: visible;
    width: 35vw;
}

.contact-form .content .form-wrapper .input-field {
    padding-top: 3%;
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.contact-form .content .form-wrapper .input-field .form-input {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 18px;
    width: 95%;
}

.contact-form .content .form-wrapper .message-input {
    padding-top: 3%;
    padding-right: 5%;
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    grid-gap: 20px;
    gap: 20px;
    text-align: justify;
    padding-bottom: 3%;
}

.contact-form .content .form-wrapper .message-input .form-input {
    width: 100%;
    height: 200px;
    border: 1px solid black;
    border-radius: 5px;
}

.contact-form .content .form-wrapper .submit-button {
    color: black;
    background: transparent;
    border: 1.5px solid black;
    border-radius: 25px;
    text-decoration: none;
    margin-left: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form .content .form-wrapper .submit-button:hover {
  background-color:#4846BD;
  color:white;
  transition:.3s;
  border:0px;
  box-shadow:2px 2px #86999e;

}

p.validation-error{
    color: red;
}

