.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .content{
    width: 30%;
    height: 40%;
    background: white;
    border: 1px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .content h1{
    font-size: 5vh;
    font-weight: 100;
}

@media only screen and (max-width: 800px){

    .container .content{
        width: 80%;
        height: 40%;
        background: white;
        border: 1px;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
