* {
    box-sizing: border-box;
}

div{
    padding:0;
}

.additional-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: rgba( 0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
}

.additional-info-container .additional-info-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: white;
    height: 80vh;
    width: 30vw;
    border: 1px;
    border-radius: 20px;
    padding-top: 2vh;
}

.additional-info-container .additional-info-form-wrapper .header {
    height: 3vh;
    width: 25vw;
    background: gray;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size:2vh;
}

.additional-form label{
    font-size: 2vh;
}
.additional-info-container .additional-info-form-wrapper .additional-form {
    width: 40vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1vh;

}

.additional-form .input-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    height: 6.5vh;
    margin: .5vh 0;
    flex: 1 1;
}

.additional-form .input-field.no-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    height: 6.5vh;
    justify-content: center;
}

.additional-form .input-field.no-label input{
    height: 4vh;
    width: 12.5vw;
    padding: 0 .5vw;
    font-size: 1.5vh;
    border: 1px solid black;
    border-radius: 25px;
    background: lightgray;
    color: black;
}

.additional-form .input-field label {
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
}

.additional-form .input-field input {
    height: 4vh;
    width: 12.5vw;
    padding: 0 .5vw;
    font-size: 1.5vh;
    border: 1px solid black;
    border-radius: 25px;
    background: lightgray;
    color: black;
}



.additional-form .input-field select {
    width: 50%;
    height: 100%;
    padding: 0 .5vw;
    font-size: 1.5vh;
    border: 1px solid #000000;
    background: lightgray;
    color: #000;
    border-radius: 25px;
}

.additional-form .btn {
    height: 10%;
    width: 70%;
    color: white;
    border: 1px;
    border-radius: 20px;
    background: gray;
    font-size: 2vh;
    border: none;
    cursor: pointer;
    margin-top: 2vh;
    font-weight: bold;
}

.additional-form p {
    font-weight: bold;
    font-size: 1.5vh;
    cursor: pointer;
}

@media only screen and (max-width: 800px){

    .additional-info-container .additional-info-form-wrapper .header {

    font-size: 1vw;
    }
    .container .form-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background: white;
        height: 90vh;
        width: 70vw;
        border: 1px;
        border-radius: 20px;
        padding-top: 2vh;
    }   

    .additional-form .input-field input {
        height: 90%;
        width: 50%;
        padding: 0 1.6vw;
        font-size: 2vh;
        border: 1px solid black;
        border-radius: 25px;
        background: lightgray;
        color: black;
    }

    .additional-form .input-field.no-label input {
        height: 90%;
        width: 50%;
        padding: 0 1.6vw;
        font-size: 2vh;
        border: 1px solid black;
        border-radius: 25px;
        background: lightgray;
        color: black;
    }

    .additional-form .input-field select {
        width: 50%;
        height: 100%;
        padding: 0 1.6vw;
        font-size: 2vh;
        border: 1px solid #000000;
        background: lightgray;
        color: #000;
        border-radius: 25px;
    }
    .additional-form label{
        font-size: 2vw;
    }
    .additional-form .btn {
        height: 10%;
        width: 70%;
        color: white;
        border: 1px;
        border-radius: 20px;
        background: gray;
        font-size: 2.7vh;
        border: none;
        cursor: pointer;
        margin-top: 2vh;
        font-weight: bold;
    }

    .additional-form p {
        font-weight: bold;
        font-size: 2vh;
        cursor: pointer;
    }
}