.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: rgba( 0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 100;
}

.loading-container .content{
    width: 50%;
    height: 50%;
    background: #F7F6E9;
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading-container .content .header{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.loading-container .content .header .button-container{
    width: 10%;
    height: 100%;
    display: flex;
    margin-right: .3vw;
    margin-top: 1vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    border: 1px;
    border-radius: 20px;
}

.loading-container .content .header .button-container .close{
    background: transparent;
    width: 75%;
    height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    border: 0vh;
    border-radius: 5px;
    cursor: pointer;
    font-size: 4vh;
    font-weight: 600;
    padding: 0vh 0vw;
}

.loading-container .content h1 {
    font-size: 7vh;
    font-weight: 500;
    margin-top: 2vh;
}

.loading-container .content p{
    margin: 0;
    font-size: 3vh;
}

@media only screen and (max-width: 800px){

    .loading-container .content{
        width: 80%;
        height: 40%;
        background: white;
        border: 1px;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
