    *{
        box-sizing: border-box;
    }
    
    
    .preference-modal-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        background: rgba( 0, 0, 0, 0.6);
        position: fixed;
        top: 0;
        left: 0;
        opacity: 1;
    }
    
    .preference-modal{
        display:flex;
        align-items: center;
        flex-direction: column;
        background-color: #F7F6E9;
        height: 85%;
        width: 49%;
        border-radius:25px ;
    }
    
    button{
        background-color: black;
        border:0;
        border-radius: 5px;
        color:#fff;
        padding: 10px 25px;
        cursor: pointer;
        }
    
    .preference-header{
        width: 100%; 
        height: 15%;
        display: flex;
        flex-direction: row;
        font-size: 2vh; 
        margin: 2vh 0vw;
        border: 1px;
        border-radius: 20px;
    }

    .preference-header .header{
        background: lightgray;
        color: black;
        height: 85%;
        width: 90%;
        padding: 2vh 0vw;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px;
        border-radius: 10px;
        margin: 0vh .3vw 0vh 4vw;
        font-size: 2vh;
    }

    .preference-header .close-container{
        color: black;
        height: 60%;
        width: 6%;
        border: 1px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1vw;
    }

    .preference-header .close-container .close-modal {
        background: transparent;
        border: 0vh;
        border-radius: 5px;
        color: black ;
        padding: 0vh 0vw;
        font-size: 4vh;
        cursor: pointer;
    }

    .preference-form-wrapper{
        height: 65%;
        width: 84%;
        display:flex;
        flex-direction: column;
        align-items: center;
        background: lightgrey;
        border-radius: 25px;
    }

    .preference-btns{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-gap: 1vh;
        gap: 10vh;
        width: 100%;
        height: 100%;
    }

    .preference-btns .study-btn{
        height: 20%;
        width: 60%;
        background: white;
        color: black;
        border-radius: 50px;
        font-size: 4vh;
        font-weight: 600;
        cursor: pointer;
    }

    .preference-btns .work-btn{
        height: 20%;
        width: 60%;
        background: white;
        color: black;
        border: 1px;
        border-radius: 50px;
        font-size: 4vh;
        font-weight: 600;
        cursor: pointer;
    }
    
    .preference-btns .study-btn:hover{
    background-color: #4846BD;
    transition: .1s;
    color:white;
    }
    
    .preference-btns .work-btn:hover{
        background-color: #4846BD;
        transition: .1s;
        color:white;
    }

    .preference-form-wrapper .preference-study-form{
        height: 100%;
        width: 100%;
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .sub-header{
        color: rgb(0, 0, 0);
        font-size: 6vh;
        font-weight: 600;
        margin: 2vh 0vw;
    }
    
    .preference-form-wrapper .preference-study-form ul {
        display:flex;
        flex-direction: column;
        height: 50%;
        width:100%;
        padding-inline-start: 0px;
        align-items: center;
        grid-gap: 1vh;
        gap: 2vh;
        list-style: none;
    }

    .preference-form-wrapper .preference-study-form li {
        display:flex;
        flex-direction: column;
        height: 70%;
        width:100%;
        justify-content: center;
        align-items: center;
        list-style: none;
    }
    
    .preference-form-wrapper .preference-study-form span {
        height: 100%;
        width: 100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .preference-form-wrapper .preference-study-form ul li label{
        color: rgb(0, 0, 0);
        font-size: 2.5vh;
        font-weight: 500;
    }

    .preference-form-wrapper .preference-study-form ul li select{
        height: 55%;
        width: 60%;
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: white;
        color: black;
        border-radius: 25px;
        padding:10px 10px;
        margin-top: 2vh;
        font-size: 2vh;
    }
    
    .preference-form-wrapper .preference-work-form{
        height: 100%;
        width: 100%;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
        
    .preference-form-wrapper .preference-work-form ul {
        display:flex;
        flex-direction: column;
        height: 50%;
        width:100%;
        padding-inline-start: 0px;
        align-items: center;
        grid-gap: 1vh;
        gap: 2vh;
        list-style: none;
    }

    .preference-form-wrapper .preference-work-form li {
        display:flex;
        flex-direction: column;
        height: 70%;
        width:100%;
        justify-content: center;
        align-items: center;
        list-style: none;
    }
    
    .preference-form-wrapper .preference-work-form span {
        height: 100%;
        width: 100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .preference-form-wrapper .preference-work-form ul li label{
        color: white;
        font-size: 2.5vh;
        font-weight: 500;
    }

    .preference-form-wrapper .preference-work-form ul li select{
        height: 55%;
        width: 60%;
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: white;
        color: black;
        border-radius: 25px;
        padding:10px 10px;
        margin-top: 2vh;
        font-size: 2vh;
    }
    
    #back-btn {
        position: fixed;
        top: 70%;
        background: #4846BD;
        border: none;
        border-radius: 25px;
    }

    #back-btn:hover {
        position: fixed;
        top: 70%;
        background: #3c3aa7;
        border: none;
        border-radius: 25px;
    }
    
    .find { 
        position: fixed;
        top:83%;
        background: #4846BD;
        border: none;
        border-radius: 25px;
    }

    .find:hover { 
        position: fixed;
        top:83%;
        background: #3c3aa7;
        border: none;
        border-radius: 25px;
    }
    
    select.form-input{
        width: 200px;
        height: 50px;
        padding: 0 15px;
        font-size: 16px;
        border: 1px solid #000000;
        background: transparent;
        color: #000;
        border-radius: 25px;
    }
    
    
    .sub-header label{
        font-size: 1vh;
    }
    
    @media only screen and (max-width: 800px){

        .preference-modal{
            display:flex;
            align-items: center;
            flex-direction: column;
            background-color: #fff;
            height: 85%;
            width: 80%;
            border-radius:5px ;
        }
    }
    