ul.match-history{
    padding:0;
    margin:0;
}

.profile-page {
    height: 100vh;
    width: 100%;
    background-color: #F7F6E9;
    margin-top: 10vh;
}

.sections {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.profile-page .left-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 31%;
    height: 100%;
    padding-left: 7%;
}


.profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    width: 17.5vw;
    margin-top: 5vh;
}

.profile-pic img{
    
    height: 33vh;
    width: 33vh;
    border: 1px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-name {
    display: flex;
    align-items: center;
    height: 6.5%;
    margin-bottom: .7vh;
}

.profile-name h2 {
    font-size: 5vh;
}

.location b {
    font-size: 3vh;
    font-weight: 400;
}
.social-media-links {
display: flex;
justify-content: center;
height: 24%;
width: 80%;
}

.profile-page .left-section .social-media-links ul{
display: flex;
flex-direction: column;
height: 80%;
width: 80%;
padding-inline-start: 0px;
justify-content: space-evenly;
}

.profile-page .left-section .social-media-links li{
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
border-radius: 20px;
height: 25%;
width: 100%;
padding: 1vh 1vw;
background-color: rgb(168, 167, 167);
}

.social-media-links a{ 
    text-decoration: none; 
    color: black;
    font-size: 2vh;
    font-weight: 400;
}


.settings {
display: flex;
justify-content: center;
height: 7%;
width: 65%;
margin-bottom: 2vh;
}

.settings .settings-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 25px;
    border: 1.5px solid black;
    font-size: 3.3vh;
}

.settings .settings-btn:hover {
    background-color:#4846BD;
    color:white;
    transition: .3s;
    border: 0px;
    box-shadow: 2px 2px #86999e;
}

.report-issue {
    font-size: 2vh;
    font-weight: 800;
    list-style: none;
}

.report-issue li {
    cursor: pointer;
}

.profile-page .middle-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
}
.profile-page .middle-section-open {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
}
    

.profile-page .middle-section .info-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
    width: 100%;
    margin-top: 5vh;
}

.profile-page .middle-section .info-cards p {
font-weight: 500;
margin: 0px 0px;
}

.profile-page .middle-section .info-cards .work-card {
display: flex;
flex-direction: column;
justify-content: center;
font-size: 4vh;
height: 30%;
width: 70%;
border: 1px solid #4846BD;
box-shadow: 10px 10px #86999E;
border-radius: 25px;
background-color: lightgrey;
}

.profile-page .middle-section .info-cards .school-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 4vh;
    height: 30%;
    width: 70%;
    border: 1px solid #4846BD;
    border-radius: 25px;
    box-shadow: 10px 10px #86999E;
    background-color: lightgrey;
}


.update-btn-container {
    height: 10%;
    width: 60%;
}

.update-btn {
    color: black;
    height: 70%;
    width: 40%;
    background: transparent;
    border: 1.5px solid black;
    border-radius: 25px;
    font-size: 2.5vh;
    padding: 0;
}

.update-btn:hover {
    background-color:#4846BD;
    color:white;
    transition:.3s;
    border:0px;
    box-shadow:2px 2px #86999e;
 }

    
.profile-page .right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 34%;
    margin-right: 15%;
}
    

.profile-page .right-section .match-history {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 80%;
}

.profile-page .right-section .match-history ul {
display: flex;
flex-direction: column;
list-style: none;
width: 30vw;
padding: 0;
margin: 0;
justify-items: center;
background: lightgrey;
border: 1px solid #4846BD;
border-radius: 20px;
margin-top: 0;
box-shadow: 10px 10px #86999E;
align-items: center;
overflow-y: auto;
}



.profile-page .right-section .match-history ul li {
display: flex;
width: 100%;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 5% 10%;
}

.profile-page .right-section .match-history ul li span {
display: flex;
justify-content: center;
align-items: center;
border-radius: 25px;
border: 1px solid #4846BD;
    max-width: 19vw;
    width: 18vw;
    max-height: 12vh;
    height: 8vh;
background-color:white;
padding: 2vh 3vw;
font-size: auto;
cursor: pointer;
font-weight: 500;
}

.profile-page .right-section .match-history ul li img{
    display:flex;
    background-color:white;
    border-radius: 50%;
    height: 100%;
    width: 18%;
   
}

@media only screen and (max-width: 800px){

    .sections {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
    }
    
    .profile-page .left-section{
        display:flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items:center;
        width:50%;
        height: 100%;
    }

    .profile-pic {
        display:flex;
        justify-content: center;
        align-items: center;
        height: auto;
        max-height: 40vh;
        width: 45vw;
        max-width: 47vw;
        margin-top: 5vh;
    }

    .profile-page .middle-section{
        display:flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        height: 100%;
    }

    .profile-page .middle-section .info-cards .work-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 3vh;
        height: 30%;
        width: 70%;
        border: 1px;
        border-radius: 25px;
        background-color: rgb(168, 167, 167);
    }

    .profile-page .middle-section .info-cards .school-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 3vh;
        height: 30%;
        width: 70%;
        border: 1px;
        border-radius: 25px;
        background-color: rgb(168, 167, 167);
    }

    .update-btn-container {
        height: 10%;
        width: 60%;
    }

    .update-btn {
        height: 70%;
        width: 50%;
        background: black;
        border: 1px;
        border-radius: 20px;
        padding-left: 0px;
        padding-right: 0px;
        font-size: 2.5vh;
    }

    .update-btn button {
        padding: 0;
    }

    
    .profile-page .right-section{
        display:flex;
        flex-direction: column;
        justify-content: center;
        height: 80%;
        width:80%;
    }

    .profile-page .right-section .match-history ul li span {
        font-size: auto;
}

}