.update-container {
    margin-top: 5vh;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.update-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100%;
    padding-bottom: 1vh;
    color: black;
    background: lightgray;
    border: 1px;
    border-radius: 25px;
    box-shadow: 10px 10px #86999E;
}

.update-form .input-fields {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.update-form .input-fields .column{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.split-input-field {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.update-form .input-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 1vh 0;
    flex: 1 1;
}

.update-form .input-field label {
    margin-bottom: .3vh;
    font-size: 2.3vh;
    color: black;
}

.update-form .input-field input {
    height: 4.3vh;
    width: 70%;
    padding: 0 .6vw;
    font-size: 1.55vh;
    border: 1px solid black;
    border-radius: 25px;
    background: transparent;
    color: black;
}

.split-input-field .input-field input{
    width: 90%;
}

.update-form .input-field select {
    height: 4.3vh;
    width: 70%;
    padding: 0 .6vw;
    font-size: 1.55vh;
    border: 1px solid black;
    border-radius: 25px;
    background: transparent;
    color: black;
}

.update-form .btn {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6%;
    color: white;
    background: black;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    border: 1px;
    border-radius: 20px;
}

@media only screen and (max-width: 800px){
    
    .update-container {
        margin-top: 4vh;
        width: 100%;
        height: 85%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .update-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        height: 100%;
        padding-bottom: 1vh;
        color: black;
        background: lightgray;
        border: 1px;
        border-radius: 25px;
    }

    .split-input-field {
        display: flex;
        flex-direction: row;
        margin-top: 1vh;
        width: 100%;
    }

    .update-form .input-field {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: .5vh 0;
        flex: 1 1;
    }

    .update-form .input-field input {
        height: 4vh;
        width: 50%;
        padding: 0 1.3vw;
        font-size: 2vh;
        border: 1px solid black;
        border-radius: 25px;
        background: transparent;
        color: black;
    }

    .split-input-field .input-field input{
        width: 60%;
    }

    .update-form .input-field select {
        width: 50%;
        height: 4vh;
        padding: 0 1.3vw;
        font-size: 2vh;
        border: 1px solid #000000;
        background: transparent;
        color: #000;
        border-radius: 25px;
    }
    
    .update-form .btn {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 6vh;
        color: white;
        background: black;
        font-size: 2.3vh;
        border: none;
        cursor: pointer;
        margin-top: 1vh;
        border: 1px;
        border-radius: 20px;
    }
}