.chat-room {
    height: 100vh;
    width: 100vw;
}

.chat-room .content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chat-room .content.open{
    flex-direction: row;
    justify-content: center;
}

.chat-room .content .user-views{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 70vw;
}

.chat-room .content .user-views.open{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 35vw;
}

.chat-room .content .user-views .user-view{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.chat-room .content .user-views .user-view .user-video{
   background: black;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: white;
   height: 75%;
   width: 90%;
   border: 1px;
   border-radius: 20px;
}

.chat-room .content .bottom-row {
    width: 70vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-gap: 6vw;
    align-items: center;
}

.chat-room .content .bottom-row.open{
    width: 55vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-gap: 6vw;
    align-items: center;
}

.chat-room .content .bottom-row .button-container{
    background: black;
    border: 1px;
    border-radius: 20px;
    width: 60%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.chat-room .content .chat-container.closed{
    width: 15%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.chat-room .content .chat-container.open{
    width: 26%;
    height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.chat-room .content .chat-container .chat{
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    border: 1px;
    border-radius: 20px;
    cursor:pointer;
}


