.chat-room {
    height: 100vh;
    width: 100vw;
    background-color: #F7F6E9;
    margin-top: 10vh;
}

.chat-room .content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chat-room .content.open{
    flex-direction: row;
    justify-content: center;
}

.chat-room .content .user-views{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 70vw;
}

.user-view h3{
    color:black;
    font-weight: 600;
}
.chat-room .content .user-views.open{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 35vw;
}

.chat-room .content .user-views .user-view{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.chat-room .content .user-views .user-view .user-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
}

.chat-room .content .user-views .user-view .user-header h3{
    position:absolute;
    color: black;
}

.chat-room .content .user-views .user-view .user-video .mute-icon{
   height: 4vh;
   margin-left: 5vw;
   visibility: hidden;
   border: 2px solid white;
   border-radius: 50%;
   background-color: white;
    position: absolute;
    z-index: 3;
    top: 77%;
    left: 47%;
}

.chat-room .content .user-views .user-view .user-video{
   background: black;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: white;
   height: 75%;
   width: 98%;
   border: 1px;
   border-radius: 20px;
}

.chat-room .content .user-views .user-view .user-video .no-video{
   background: black;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: white;
   height: 30vh;
   width: 30vh;
   position: absolute;
   z-index: 1;
   visibility: hidden;
}

.chat-room .content .bottom-row {
    width: 70vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-gap: 6vw;
    align-items: center;
}

.chat-room .content .bottom-row.open{
    width: 55vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-gap: 6vw;
    align-items: center;
}

.chat-room .content .bottom-row .button-container{
    border: 1px;
    border-radius: 20px;
    width: 60%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.chat-room .content .bottom-row .button-container .mute {
    width: 25%;
    height: 100%;
    background: transparent;
    color: black;
    border: 1.5px solid black;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-room .content .bottom-row .button-container .mute:hover {
    width: 25%;
    height: 100%;
    background-color:#4846BD;
    color:white;
    border:0px;
    border-radius: 25px;
    box-shadow:2px 2px #86999e;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-room .content .bottom-row .button-container .video {
    width: 25%;
    height: 100%;
    background: transparent;
    color: black;
    border: 1.5px solid black;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-room .content .bottom-row .button-container .video:hover {
    width: 25%;
    height: 100%;
    background-color:#4846BD;
    color:white;
    border:0px;
    border-radius: 25px;
    box-shadow:2px 2px #86999e;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-room .content .chat-container.closed{
    width: 15%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.chat-room .content .chat-container.open{
    width: 60%;
    height: 375%;
    display: flex;
    flex-direction: column;
    background: lightgray;
    margin-top: -62vh;
    border: 1px;
    border-radius: 20px;
    z-index: 5;
}

.chat-room .content .chat-container.open form{
    width: 30%;
    margin-left: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position:absolute;
    bottom: -3%;
}

.chat-room .content .chat-container.open input {
    border: none;
    padding: 0 1rem;
    font-size: 20px;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}

.chat-room .content .chat-container.open .send-btn{
    border: 1px;
    border-radius: 25px;
    margin-left: 1vw;
}

.chat-room .content .chat-container.open #messages {
    list-style-type: none; 
    margin: 0; 
    padding: 0;
    overflow-y: auto;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
}

.chat-room .content .chat-container.open #messages > li {
    padding: 0.5rem 1rem;
    display: flex;
    grid-gap: 20vw;
    gap: 1.5vw;
    font-size: 1.9vh;
}

.chat-room .content .chat-container.open #messages > li:nth-child(odd) {
    background: #efefef; 
}

.chat-room .content .chat-container.open .close-chat {
    background: transparent;
    border: 0vh;
    border-radius: 5px;
    color: black;
    padding: 0vh 0vw;
    font-size: 4vh;
    cursor: pointer;
    top: 30%;
    right: 15.5%;
    position: absolute;
}

.chat-room .content .chat-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    height: 7vh;
    color: white;
    border: 1px;
    border-radius: 25px;
    font-size: 3vh;
    padding: .5vh 0vw;
    cursor: pointer;
}

.chat-room .content .chat-container .chat.closed {
    width: 100%;
    height: 100%;
    background: transparent;
    color: black;
    border: 1.5px solid black;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-room .content .chat-container .chat.closed:hover {
    width: 100%;
    height: 100%;
    background-color: #4846BD;
    color: white;
    border: 1.5px solid black;
    transition: .3s;
    border: 0px;
    box-shadow: 2px 2px #86999e;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-room .content .chat-container .chat.open{
    width: 100%;
    height: 7%;
    background: black;
    color: white;
    border: 1px;
    border-radius: 20px;
    cursor:pointer;
}

.chat-room .content .chat-container .chat-logs {
    display:flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 1vh;
}

.chat-room .content .chat-container .chat-logs .input-field {
    height: 10%;
    width: 100%;
}

.chat-room .content .chat-container .chat-logs .input-field .chat-input{
    height: 100%;
    width: 95%;
    background: white;
    font-size: 1.5em;
    border: 1px solid black;
    border-radius: 20px;
}

.chat-room .content .chat-container .chat-logs .messages{
    margin-bottom: 2vh;
    display: flex; 
    flex-direction: column-reverse;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    margin-top: 2vh;
    margin-left: 1vw;
    font-size: 2.5vh;
}

video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: 1px;
    border-radius: 20px;
    z-index: 2;
}

.participant-video {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.enter-room {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    top: -3%;
    align-items: center;
}

.enter-room button {
    color: black;
    border-radius: 25px;
    border: 1.5px solid black;
    background-color: transparent;
    width: 25%;
}

.enter-room button:hover {
    background-color:#4846BD;
    color:white;
    transition: .3s;
    border: 0px;
    box-shadow: 2px 2px #86999e;
    width: 25%;
}

.enter-room p {
    margin: 2px;
    font-size: 3vh;
    font-weight: 500;
}

.enter-room .tips {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 7vh;
}

.enter-room .tips .tips-header {
    margin: 2px;
    font-size: 4.5vh;
    font-weight: 500;
    margin-bottom: 4%;
}

.enter-room .tips .square {
    color: #4846BD;
    font-weight: 1000;
}

.enter-room .tips li {
 display: flex;
 justify-content: flex-start;
 grid-gap: 1vw;
 font-size: 3.5vh;

}

.modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: rgba( 0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 100;
}

.modal-container .exit-modal-content {
    width: 50%;
    height: 50%;
    background: #F7F6E9;
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-container .exit-modal-content .header {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.modal-container .exit-modal-content .header .button-container {
    width: 10%;
    height: 100%;
    display: flex;
    margin-right: .3vw;
    margin-top: 1vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    border: 1px;
    border-radius: 20px;
}

.modal-container .exit-modal-content .exit-fr{
    height: 8vh;
    color: white;
    background: #4846BD;
    font-size: 4.2vh;
    border: none;
    cursor: pointer;
    margin-top: 3vh;
    border-radius: 25px;
}

.modal-container .exit-modal-content .header .button-container .close-modal {
    background: transparent;
    width: 75%;
    height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    border: 0vh;
    border-radius: 5px;
    cursor: pointer;
    font-size: 4vh;
    font-weight: 600;
    padding: 0vh 0vw;
}

.modal-container .exit-modal-content h1 {
    font-size: 7vh;
    font-weight: 500;
    margin-top: 2vh;
    padding-top: 5%;
}

.modal-container .disconnect-modal-container {
    width: 50%;
    height: 50%;
    background: #F7F6E9;
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-container .disconnect-modal-container .header{
    width: 100%;
    height: 70%;
    padding: 1vh 4vw;
    font-size: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}

.modal-container .disconnect-modal-container .button-row{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    grid-gap: 3vw;
}

.modal-container .disconnect-modal-container .button-row .button-container  .exit-fr{
    background:#4846BD;
    color: white;
    border: 1px;
    border-radius: 250px;
    width: 100%;
    font-size: 4vh;
    padding: 2vh 2vw;
}



/* Start here */

.modal-container .find-another-buddy-modal-content {
    width: 50%;
    height: 50%;
    background: #F7F6E9;
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-container .find-another-buddy-modal-content .header {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.modal-container .find-another-buddy-modal-content .header .button-container {
    width: 10%;
    height: 100%;
    display: flex;
    margin-right: .3vw;
    margin-top: 1vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    border: 1px;
    border-radius: 20px;
}

.modal-container .find-another-buddy-modal-content .header .button-container .close-modal {
    background: transparent;
    width: 75%;
    height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    border: 0vh;
    border-radius: 5px;
    cursor: pointer;
    font-size: 4vh;
    font-weight: 600;
    padding: 0vh 0vw;
}

.modal-container .find-another-buddy-modal-content h1 {
    font-size: 7vh;
    font-weight: 500;
    margin-top: 2vh;
}